<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="https://fontmeme.com/permalink/200728/4eb698a68a176b15dc02082ebc5c3314.png" >
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-card *ngFor='let republic of republics'>
    <ion-card-header>
      <ion-subtitle>{{republic.subtitle}}</ion-subtitle>
      <ion-title>{{republic.title}}</ion-title>
    </ion-card-header>
    <ion-card-content>
      <img [src]=republic.imagem width="100%" height="200px">
      <h3>{{republic.content}} {{republic.bedrooms_number}} {{republic.price}} {{republic.street}} {{republic.number}}. </h3>
      <ion-chip outline color="tertiary">
        <ion-icon name="restaurant"></ion-icon>               
        <ion-label>Cozinha Completa</ion-label> 
       
      </ion-chip>
      <ion-chip outline color="secondary">
        <ion-icon name="bed"></ion-icon>
        <ion-label>Quarto Completo</ion-label> 
      </ion-chip>
      <ion-chip outline color="success">
        <ion-icon name="wifi-outline"></ion-icon>
        <ion-label>Wifi Liberado</ion-label>
      </ion-chip>
      <ion-chip color="warning">
        <ion-icon name="star" style="height:17px;"></ion-icon>
        <ion-label style="margin-top: 2px;">{{republic.rate}}</ion-label>
      </ion-chip>
     
    </ion-card-content>
    <ion-item>
      <ion-label position="floating">Comentar</ion-label>
      <ion-input type="text" ></ion-input>
    </ion-item>
    <ion-button (click)="presentToast()" color="danger" expand='full'>Enviar</ion-button>
    
  </ion-card>


</ion-content>

