<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="https://fontmeme.com/permalink/200728/4eb698a68a176b15dc02082ebc5c3314.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="republicForm" (ngSubmit)="submitForm(republicForm)">
    <ion-list>
    
      <ion-item>
        <ion-label position="floating">Locador</ion-label>
        <ion-input formControlName="owner" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">URL Imagem</ion-label>
        <ion-input type="url" formControlName="image"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nome da República</ion-label>
        <ion-input type="text" formControlName="republicName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Endereço da República</ion-label>
        <ion-input type="text" formControlName="republicAddress"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Estado da República</ion-label>
        <ion-input type="text" formControlName="republicState"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descrição</ion-label>
        <ion-input type="text" formControlName="description"></ion-input>
      </ion-item>
      <ion-row class="ion-justify-content-center">
        <ion-button  type="submit" color="danger" shape="round" [disabled]="republicForm.invalid">Anunciar</ion-button>
      </ion-row>
      
      
    
    
    
      
    </ion-list>
  </form>
  
</ion-content>
